{% extends 'base.html.twig' %}

{% block title %}Accueil Ubique
{% endblock %}
{% block body %}

<div class="container accueil-bg m-auto">

	{% if app.user %}

		<div class="mb-3 Magazine">

			{{magazine.codeAffaireEnClair}}

		</div>
		<div class="container">
			<h1 class='text-center'>Iconographique</h1>
			<table class="table table-bordered table-dark">
				<thead>
					<tr>
						<th scope="col">Nom d'usage</th>
						<th scope="col">Nom compta</th>
						<th scope="col">Statut</th>
						<th scope="col">Type</th>
						<th scope="col">Article</th>
						<th scope="col">Signe</th>
						<th scope="col">Nombre de feuillet</th>
						<th scope="col">Forfait</th>
						<th scope="col">prix au feuillet</th>
						<th scope="col">Montant</th>
						<th scope="col">Droit d'auteur</th>
					</tr>
				</thead>
				<tbody>


					<tr>
						{% for aIconographique in iconographique %}
							<td>{{ aIconographique.salarieEtEntreprise.nomDUsage }}</td>
							<td>{{ aIconographique.salarieEtEntreprise.nomCompta }}</td>
							<td>{{ aIconographique.salarieEtEntreprise.statut }}</td>
							<td>{{ aIconographique.salarieEtEntreprise.type }}</td>
							<td>{{ aIconographique.article }}</td>
							<td>{{ aIconographique.signe }}</td>
							<td>{{ aIconographique.nbDeFeuillet }}</td>
							<td>{{ aIconographique.article }}</td>
							<td>{{ aIconographique.article }}</td>
							<td>{{ aIconographique.article }}</td>
							<td>{{ aIconographique.article }}</td>

						</tr>
					{% endfor %}
				</tbody>
			</tr>
		</tbody>
	</tbody>
</table></nav>{% endif %}</div>{% endblock %}
