{% extends 'base.html.twig' %}

{% block title %}Titre Détails{% endblock %}

{% block body %}
    <div class="container accueil-bg m-auto">

        {% if app.user %}

            {# <form method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Entrez nom du titre ou le nom du client" name="mots" value="{{ mots }}">
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary">Rechercher</button>
                </div>#}
            </form>

            <div class="container">
                <h1 class='text-center'>Détails</h1>
                <table class="table table-striped">


                    <thead class="">
                    <tr>
                        <th scope="col">Magazine en clair</th>
                        <th scope="col">Code Affaire</th>
                        <th scope="col">CA</th>
                        <th scope="col">Charge</th>
                        <th scope="col">Resultat</th>
                        <th scope="col">%</th>
                        <th scope="col">Détails</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for aMagazine in magazine %}
                        <tr>
                            <td>
                                {{ aMagazine.codeAffaireEnClair }}
                            </td>
                            <td>
                                {{ aMagazine.codeAffaire }}
                            </td>
                            <td>
                                {{ aMagazine.chiffreAffaire }}
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                               {# <a href="{{ path('app_choose_titre_details', {'titre': aTitre.id}) }}">#}
                                    <button class="btn btn-outline-primary">Voir détails</button>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(magazine) }}
            </div>
        {% endif %}

    </div>

{% endblock %}
